layout: index
description: Qitas 
subtitle: Keen on efficient tools and platforms
comments: false
---
ul#intro-feature-list
  li.intro-feature-wrap
    .intro-feature
      .intro-feature-icon
        i.fa.fa-code
      h3.intro-feature-title WWW.OS-Q.COM
      p.intro-feature-desc Open Solutions| Open Source| Operating System
  li.intro-feature-wrap
    .intro-feature
      .intro-feature-icon
        i.fa.fa-space-shuttle
      h3.intro-feature-title stop.stops.top
      p.intro-feature-desc SoC chips and SoM boards for full scene
  li.intro-feature-wrap
    .intro-feature
      .intro-feature-icon
        i.fa.fa-cubes
      h3.intro-feature-title www.tfzoo.com
      p.intro-feature-desc useful tensorflow models zoo
  li.intro-feature-wrap
    .intro-feature
      .intro-feature-icon
        i.fa.fa-gift
      h3.intro-feature-title www.Qful.net
      p.intro-feature-desc Qful things just ready for you