layout: index
description: Qitas 
subtitle: Keen on efficient tools and platforms.
comments: false
---
ul#intro-feature-list
  li.intro-feature-wrap
    .intro-feature
      .intro-feature-icon
        i.fa.fa-bolt
      h3.intro-feature-title OS-Q
      p.intro-feature-desc open source solution system Q.
  li.intro-feature-wrap
    .intro-feature
      .intro-feature-icon
        i.fa.fa-pencil
      h3.intro-feature-title SoC Hub
      p.intro-feature-desc SoC chips platform.
  li.intro-feature-wrap
    .intro-feature
      .intro-feature-icon
        i.fa.fa-cloud-upload
      h3.intro-feature-title tfzoo
      p.intro-feature-desc tensorflow models zoo.
  li.intro-feature-wrap
    .intro-feature
      .intro-feature-icon
        i.fa.fa-cog
      h3.intro-feature-title Qful
      p.intro-feature-desc Qful things.