layout: index
description: 锻造最美之器
subtitle: 锻造最美之器
comments: false
---
ul#intro-feature-list
  li.intro-feature-wrap
    .intro-feature
      .intro-feature-icon
        i.fa.fa-code
      h3.intro-feature-title WWW.OS-Q.COM
      p.intro-feature-desc 开源解决方案形成的系统开发平台和框架
  li.intro-feature-wrap
    .intro-feature
      .intro-feature-icon
        i.fa.fa-space-shuttle
      h3.intro-feature-title stop.stops.top
      p.intro-feature-desc SoC芯片资源索引，选型及开发设计参考
  li.intro-feature-wrap
    .intro-feature
      .intro-feature-icon
        i.fa.fa-cubes
      h3.intro-feature-title www.tfzoo.com
      p.intro-feature-desc tensorflow model zoo深度学习模型库
  li.intro-feature-wrap
    .intro-feature
      .intro-feature-icon
        i.fa.fa-gift
      h3.intro-feature-title www.Qful.net
      p.intro-feature-desc Qful 场景化开放硬件模块和功能化单元